.projet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.projet-card {
  flex: 1 1 30%;
  max-width: 32%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}