.projet-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); /* Augmente la taille minimale des éléments */
  gap: 5px 10px; 
  justify-content: center;
  margin: 20px;
}

.projet-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}